<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    {% include './header.html' %}
    <title>My Website</title>
</head>
<body>
    <div class="container">
        <h1>List of all my Bookss</h1>
        <p> Digital Fortress </p>
        <p> Romoe and julliet </p>
        <p> Animal Farm </p>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>